.intro {
  padding-top: 92px;
  padding-bottom: 92px;
  max-width: 984px;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFFFFF;
}

@media (max-width: 1023px){
  .intro {
    max-width: 720px;
    padding-top: 88px;
    margin: 0;
  }
}
@media (max-width: 767px){
  .intro {
    max-width: none;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
